* {
    box-sizing: border-box;
}
.border-out {
    width: 25%;
    padding: 2px 2px 2px 2px;
    float: left;
}
.border-out div {
    width: 100%;
    height: inherit;
    border: 1px rgb(167, 156, 156) solid;
}
.border-out div p {
    text-align: center;
}
img {
    width: 100%;
}
#paragraph {
    clear: both;
}
.border-out div:hover {
    border: 1px black solid;
}
@media screen and (max-width:700px) {
    .border-out {
        width: 50%;
    }
}
@media screen and (max-width:500px) {
 .border-out {
     width: 100%;
 }   
}
