header {
    height: 80px;
    margin-bottom: 1%;;
}
main {
    height: 500px;
}
footer {
    height: 50px;
}
#logo {
    height: 70%;
    background-color: antiquewhite;
}
#logo img {
    height: 100%;
}
nav {
    height: 28%;
    background-color: antiquewhite;
    margin-top: 1%;
    text-align: center;
}
nav a {
    font-size: 15px;
    border-left: 2px solid #333;
}
aside {
    height: 100%;
    width: 35%;
    background-color: rgb(245, 218, 220);
    margin-right: 1%;
    float: left;
}
article {
    height: 100%;
    width: 63%;
    background-color: rgb(245, 218, 220);
    float: left;
}

.video {
    height: 150px;
    width: 100%;
    background-color: rgb(190, 190, 218);
    margin-bottom: 2px;
}
.video img {
    width: 100%;
}

